
.main {
    width: 100%;
    /* border: 1px solid #ccc; */
    padding-top: 20px;
    display: flex;
}

.float-code {
    flex: 1.3;
    padding: 10px;
}

.float-history {
    flex: 0.7;
    padding: 10px;
}

