@import url('https://unpkg.com/firacode@1.205.0/distr/fira_code.css');

.cm-content,
.cm-gutter {
    min-height: 90vh;
}

.cm-gutters {
    margin: 1px;
}

.cm-scroller {
    overflow: auto;
}

.cm-editor {
    border: 1px solid silver
}

/* temp workaround for the history */
.tree {
    width: 100% o !important;
    position: relative !important;
}

.current-node {
    background-color: rgb(233, 233, 233) !important;
}
